<div class="index-section classes">
    <h6>Classes</h6>
    <div class="box">
    <ul id="api-classes" class="apis classes">
    {{#classes}}
        <li><a class="type" href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
    {{/classes}}
    </ul>
    </div>
</div>

<div class="index-section modules">
    <h6>Modules</h6>
    <div class="box">
    <ul id="api-modules" class="apis modules">
    {{#allModules}}
        <li><a class="module" href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
    {{/allModules}}
    </ul>
    </div>
</div>

<div class="clear"></div>